<div class="d-flex event-card">
    <div class="event-card-img event-card-data">
        <div style="font-weight:bold;">@Evt.Title</div>
        @if (@Evt.DateStatus == EventDateStatus.Locked)
        {
            <div style="color: darkcyan;">@Evt.EventDate.Value.ToLongDateString()</div>
        }
        <div>@Evt.Description</div>
    </div> 
    <div class="event-card-img" style="background-image: url(@Evt.ImageUrl);"></div>
</div>

@code {
    [Parameter]
    public EventVM Evt { get; set; }
}
