<div class="default-block">
    <h5>Participants</h5>

    <span class="user-circle user-creator" title="@CurrentEvent.CreatedByName (Creator)">@CurrentEvent.CreatedByName.First()</span>
    @foreach(var user in CurrentEvent.Participants.Where(o => o.Status == ParticipationStatus.Accept))
    {
        <span class="user-circle user-accepted" title="@user.Name (Accepted)">@user.Name.First()</span>
    }

    @foreach(var user in CurrentEvent.Participants.Where(o => o.Status == ParticipationStatus.Reject))
    {
        <span class="user-circle user-rejected" title="@user.Name (Rejected)">@user.Name.First()</span>
    }

</div>

@code {
    [Parameter]
    public EventVM CurrentEvent { get; set; }
}
