<div class="event-card">
    <div class="event-card-img" style="background-image: url(@Evt.ImageUrl);"></div>

    <div class="event-card-data">
        <div class="event-card-title d-none d-sm-block">@Evt.Title</div>

        @if (@Evt.DateStatus == EventDateStatus.Locked)
        {
            <div class="event-card-date">@Evt.EventDate.Value.ToLongDateString()</div>
        }
        <div class="d-none d-sm-block">@Evt.Description</div>
    </div> 
</div>

@code {
    [Parameter]
    public EventVM Evt { get; set; }
}
