@page "/qm"
@inject IManageQuiz QuizService
@inject IJSRuntime JS
@inject IToastService Toast

<AuthorizeView>
    <Authorized>
        <div class="quiz-manage-main" style="">
            @if (MyQuizes == null)
            {
                <div>No quizes</div>
            }
            else
            {
                <table class="table table-dark table-hover" style="border-collapse: separate;">
                    <thead>
                        <tr>
                            <th scope="col">Quiz</th>
                            <th scope="col">Details</th>
                            <th scope="col">Fills</th>
                        </tr>
                    </thead>
                    @foreach (var quiz in MyQuizes)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-secondary" style="width:100%; padding: 1rem;" @onclick="(() => SelectQuiz(quiz))">@quiz.Title</button>
                            </td>
                            <td>
                                @quiz.Details
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    }
                </table>

                @if (SelectedQuiz != null)
                {
                    <h3>@SelectedQuiz.Title</h3>
                    <div>@SelectedQuiz.Details</div>
                    <button class="btn btn-main" @onclick="GenerateQCode" style="margin-bottom:1rem;">Generate QCode</button>

                    <table class="table table-dark">
                        <colgroup>
                        <col span="1" style="width: 20px;">
                        <col span="1" style="width: 40px;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="">
                        <col span="1" style="width: 50px;">
                        <col span="1" style="width: 50px;">
                        <col span="1" style="width: 50px;">
                    </colgroup>
                        
                        @foreach (var qcode in SelectedQuiz.QCodes.OrderByDescending(o => o.DateCreated).Select((obj, i) => new {obj,i}))
                        {
                            <tr>
                                <td>@qcode.i</td>
                                <td><a class="qcode-manage-link" @onclick="(() => CopyLink(qcode.obj))">@qcode.obj.Id</a></td>
                                <td><input type="text" class="qm-edit" value="@qcode.obj.Url" @onchange="((e) => UpdateUrl(qcode.obj, e))" /></td>
                                <td><input type="text" class="qm-edit" value="@qcode.obj.Comment" @onchange="((e) => UpdateComments(qcode.obj, e))" /></td>
                                <td style="text-align:center;">@qcode.obj.Visited</td>
                                <td style="text-align:center;">@qcode.obj.Submitted</td>
                                <td style="text-align:center;">(<a @onclick="@(() => ShowAnswers(qcode.obj))">@qcode.obj.TotalAnswers</a>)</td>
                            </tr>
                        }
                    </table>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div>This section is for authorized users only</div>
    </NotAuthorized>
</AuthorizeView>

<p>&nbsp;</p>

@code {

    List<QuizVM> MyQuizes { get; set; }
    QuizVM? SelectedQuiz { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MyQuizes = await QuizService.ManageList();
    }

    void SelectQuiz(QuizVM quiz)
    {
        SelectedQuiz = quiz;
    }

    async Task CopyLink(QuizCodeVM code)
    {
        var url = Nav.BaseUri + $"q/{code.Id.ToString()}";
        await JS.InvokeVoidAsync("clipboardCopy.copyText", $"{url}");
        Toast.ShowInfo("Link copied");
    }

    async Task GenerateQCode()
    {
        var quiz = await QuizService.GenerateQCode(SelectedQuiz.Id);
        var i = MyQuizes.IndexOf(SelectedQuiz);
        MyQuizes[i] = quiz;
        SelectedQuiz = quiz;
    }

    async Task UpdateComments(QuizCodeVM code, ChangeEventArgs e)
    {
        code.Comment = e.Value.ToString();
        await QuizService.UpdateQCodeInfo(code);
    }

    async Task UpdateUrl(QuizCodeVM code, ChangeEventArgs e)
    {
        code.Url = e.Value.ToString();
        await QuizService.UpdateQCodeInfo(code);
    }

    async Task ShowAnswers(QuizCodeVM code)
    {
        Console.WriteLine($"Show answers for {code.Id}");
    }
}
