@page "/qm"
@inject IManageQuiz QuizService
@inject IJSRuntime JS
@inject IToastService Toast

<AuthorizeView>
    <Authorized>
        <div class="quiz-manage-main" style="">
            @if (MyQuizes == null)
            {
                <div>No quizes</div>
            }
            else
            {
                <table class="table table-dark table-hover" style="border-collapse: separate;">
                    <thead>
                        <tr>
                            <th scope="col">Quiz</th>
                            <th scope="col">Details</th>
                            <th scope="col">Fills</th>
                        </tr>
                    </thead>
                    @foreach (var quiz in MyQuizes)
                    {
                        <tr>
                            <td>
                                <button class="btn btn-secondary" style="width:100%; padding: 1rem;" @onclick="(() => SelectQuiz(quiz))">@quiz.Title</button>
                            </td>
                            <td>
                                @quiz.Details
                            </td>
                            <td>
                                123
                            </td>
                        </tr>
                    }
                </table>

                @if (SelectedQuiz != null)
                {
                    <h2>@SelectedQuiz.Title</h2>
                    <div>@SelectedQuiz.Details</div>
                    <button class="btn btn-secondary" @onclick="GenerateQCode" style="padding:.5rem; min-width:8rem; margin: 1rem 0 1rem 0;">Generate QCode</button>

                    // @! table
                    //// comments
                    //// completions
                    <table class="table table-dark">
                        <colgroup>
                        <col span="1" style="width: 50px;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="">
                        <col span="1" style="width: 50px;">
                        <col span="1" style="width: 50px;">
                    </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">Code</th>
                                <th scope="col">Url</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Visited</th>
                                <th scope="col">Submitted</th>
                            </tr>
                        </thead>
                        @foreach (var qcode in SelectedQuiz.QCodes)
                        {
                            <tr>
                                <td><a class="qcode-manage-link" @onclick="(() => CopyLink(qcode))">@qcode.Id</a></td>
                                <td><textarea rows=1 class="fullwidth-input" @onchange="((e) => UpdateUrl(qcode, e))" /></td>
                                <td><textarea rows=1 class="fullwidth-input" @onchange="((e) => UpdateComments(qcode, e))" /></td>
                                <td>@qcode.Visited</td>
                                <td>@qcode.Submitted</td>
                            </tr>
                        }
                    </table>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div>This section is for authorized users only</div>
    </NotAuthorized>
</AuthorizeView>


@code {
    List<QuizVM> MyQuizes { get; set; }
    QuizVM? SelectedQuiz { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MyQuizes = await QuizService.ManageList();
    }

    void SelectQuiz(QuizVM quiz)
    {
        SelectedQuiz = quiz;
    }

    async Task CopyLink(QuizCodeVM code)
    {
        var url = Nav.BaseUri + $"q/{code.Id.ToString()}";
        await JS.InvokeVoidAsync("clipboardCopy.copyText", $"{url}");
        Toast.ShowInfo("Link copied");
    }

    async Task GenerateQCode()
    {
        var quiz = await QuizService.GenerateQCode(SelectedQuiz.Id);
        var i = MyQuizes.IndexOf(SelectedQuiz);
        MyQuizes[i] = quiz;
        SelectedQuiz = quiz;
    }

    async Task UpdateComments(QuizCodeVM code, ChangeEventArgs e)
    {
        Console.WriteLine($"Set comments: {e.Value}");
    }

    async Task UpdateUrl(QuizCodeVM code, ChangeEventArgs e)
    {
        Console.WriteLine($"Update url: {e.Value}");
    }
}
